<!DOCTYPE html>
<html ng-app="nodeBlog">
  <head>
    <title>Blog App - with Node + Express + Angular + PostgreSQL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bower_components/foundation/css/normalize.min.css" rel="stylesheet" media="screen">
    <link href="/bower_components/foundation/css/foundation.min.css" rel="stylesheet" media="screen">
    <link href="" rel="stylesheet" media="screen">
      <script src="/bower_components/foundation/js/vendor/modernizr.js"></script>
  </head>
  <% include partials/navbar %>
  <% include partials/flash %>
  <body ng-controller="mainController">
    <div class="row">
      <%- body %>
    </div>
      <script src="/bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.js" type="text/javascript"></script>
    <script src="/bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="/bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="javascripts/app.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).foundation();
    </script>
  </body>
</html>
